.example-spacer {
    flex: 1 1 auto;
  }


  .dashboard-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .dashboard-sidenav-content {
    display: contents;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    
  }
   
  .dashboard-sidenav {
    padding: 20px;
  }