# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/
techchallenge-venv/

# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Local development configuration
.env

# Dependency folders
node_modules/
__pycache__/

# Environment variables file
.env
